---
author:
  - name: Joseph Bradley
    url: 'https://www.cryptocoinsnews.com/author/joseph-bradley/'
    avatar: {}
related: []
publisher:
  url: 'https://www.cryptocoinsnews.com'
  name: 'CCN: Financial Bitcoin & Cryptocurrency News'
  favicon: null
  domain: www.cryptocoinsnews.com
keywords:
  - sita
  - blockchain
  - travel
  - biometric
  - identification
  - token
  - tech
  - verification
  - passports
  - would
description: 'Traveling has definitely become a chore. Long lines, tight spaces, overcrowded travel hubs. A measure of patience and a little bit of luck go a long way. The travel tech company SITA has a proposal that can at least help with streamlining traveler identification.'
inLanguage: en
app_links: []
isBasedOnUrl: 'https://www.cryptocoinsnews.com/streamlining-travel-with-blockchain/'
title: Streamlining Travel with Blockchain Identity Verification
datePublished: '2016-05-26T13:35:21.563Z'
dateModified: '2016-05-26T10:09:12.466Z'
starred: false
sourcePath: _posts/2016-05-26-streamlining-travel-with-blockchain-identity-verification.md
inFeed: true
hasPage: false
inNav: false
_context: 'http://schema.org'
_type: MediaObject

---
<article style=""><h1>Streamlining Travel with Blockchain Identity Verification</h1><p>Traveling has definitely become a chore. Long lines, tight spaces, overcrowded travel hubs. A measure of patience and a little bit of luck go a long way. The travel tech company SITA has a proposal that can at least help with streamlining traveler identification.</p><img src="https://www.cryptocoinsnews.com/wp-content/uploads/2016/05/Travel-IDs.jpg" /></article>